:host {
  z-index: 80;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 0px 10px 0px rgba(50, 50, 50, 0.75);
}

